body {
    font-family: 'Gill Sans', Calibri, 'DejaVu Sans', sans-serif;
    color: white;
}

header.horizontal > * {
    float: left;
    text-shadow: black 1px 1px 0px;
}

article#bapi {
    margin: 0 auto;
    width: 600px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #98A09C;
    -webkit-box-shadow: 2px 2px 2px 2px #98A09C;
    -moz-box-shadow: 2px 2px 2px 2px #98A09C;
    padding: 20px;
    background: #78909C -webkit-gradient(linear, 0% 0%, 0% 100%, from(#78909C), to(#51545B));
}

#title {
    margin: 30px 0;
}

article#tasks {
    margin: 0 30px;
}

article#tasks #today header, article#tasks #past header {
    text-shadow: black 1px 1px 0px;
}

/* new task*/

#new {
    margin-top: 10px;
}

#new #desc {
    width: 300px;
}

#new #locality {
    width: 150px;
}

#map #map_canvas {
    position: relative;
    left: 0;
    top: 20px;
    width: 520px;
    height: 300px;
}

#map {
    margin-top: 15px;
}

#importer {
    margin-top: 40px;
}

#importer header, #map header {
    color: #BED364;
}

#importer header {
    margin-bottom: 5px;
}

#importer header:hover, #map header:hover {
    cursor: pointer;
    color: #FBE762;
    text-decoration: underline;
}

#importer #import {
    border: 10px dashed gray;
    width: 300px;
    height: 100px;
    color: gray;
    display: none;
}

#importer #import:hover, #importer #import.hover {
    color: white;
    border: 10px dashed white;
}


#importer #import p {
    margin: 40px 0 0 50px;
}

/* Tasks */

#tasks tr {
    background: rgba(74, 30, 70, 0.0898438);
    -webkit-transition: opacity 0.4s ease-in;
    color: #FBE762;
    font-weight: bold;
}

#tasks tr:hover {
    background: rgba(190, 211, 100, 0.1);
}

#tasks td.content {
    cursor: pointer;
    width: 300px;
}

#tasks td.content:hover {
    color: rgba(0, 0, 0, 0.296875);
    -webkit-transition: color 0.2s linear;
    text-decoration: line-through;
}

#tasks td.content input {
    display: none;
    width: 290px;
}

#tasks td.locality {
    width: 200px;
}

#tasks td.locality address a, #tasks td.showLocality {
    cursor: pointer;
}

#tasks td.locality address a {
    margin-left: 2px;
    text-decoration: none;
}

#tasks td.showLocality:hover, #tasks td.locality address a:hover {
    /* TODO */
    /*color: blue;*/
    text-decoration: underline;    
}

#tasks td.locality address.hl, #tasks td.locality address.hl a {
    /* Todo */
    /*color: #FBE762;*/
}

#tasks tr.done td.content, #tasks tr.done td.showLocality, #tasks tr.done td.locality address a {
    color: rgba(0, 0, 0, 0.296875);
    text-decoration: line-through;
}

/* Past Tasks */

#tasks #past {
    margin-top: 20px;
}

/* Buttons */

#tasks tr td.buttons {
    margin-left: 20px;
}

#tasks tr td.buttons span.button {
    background: gray;
    color: white;
    cursor: pointer;
}

#tasks tr td.buttons span.button:hover {
    color: red;
    -webkit-transition: color 0.2s linear;
}

/* Others */

footer {
    color: #ccc;
    margin-top: 10px;
    border-top: 1px dashed #ccc;
}

#notification {
    margin-top: 10px;
    border-top: 1px dashed #ccc;
    clear: both;
}

.warning {
    color: red;
}