body {
    font-family: "Lucida Grande", Verdana;
}

header.horizontal > * {
    float: left;
}

article#bapi {
    margin: 0 auto;
    width: 600px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #999;
    -webkit-box-shadow: 2px 2px 2px 2px #ddd;
    -moz-box-shadow: 2px 2px 2px 2px #ddd;
    padding: 20px;
}

#title {
    margin: 40px;
}

article#tasks {
    margin: 0 30px;
}

article#manual {
    color: gray;
    margin: 20px 30px;
}

article#manual header:hover {
    cursor: pointer;
    color: black;
}

article#manual section {
    display: none;
    margin-top: 10px;
}

article#manual section span {
    margin-right: 10px;
}

article#bapi #new {
    margin-top: 30px;
    width: 520px;
}

#importer header {
    color: gray;
    margin: 10px 0;
}

#importer header:hover {
    cursor: pointer;
    color: black;
}

#importer #import {
    border: 10px dashed gray;
    width: 300px;
    height: 100px;
}

#importer #import p {
    margin: 40px 0 0 50px;
}

#importer #import {
    display: none;
}

#importer #import:hover, #importer #import.hover {
    border: 10px dashed black;
}

article#bapi #notification {
    margin-top: 10px;
    border-top: 1px dashed #ccc;
    clear: both;
}

.warning {
    color: red;
}

#tasks tr td.content {
    cursor: pointer;
    width: 500px;
}

#tasks tr td.buttons {
    margin-left: 20px;
}

#tasks tr td.buttons span.button {
    background: gray;
    color: white;
}

#tasks tr td.buttons span.button:hover {
    background: black;
    cursor: pointer;
}

#tasks tr.done td.content {
    color: rgba(0, 0, 0, 0.296875);
    text-decoration: line-through;
}

#tasks #past tr.new span.desc {
    background: red;
    color: white;
}

footer {
    color: #ccc;
    margin-top: 10px;
    border-top: 1px dashed #ccc;
}
