body {
    font-family: 'Gill Sans', Calibri, 'DejaVu Sans', sans-serif;
    color: white;
}

header.horizontal > * {
    float: left;
    text-shadow: black 1px 1px 0px;
}

article#footprint {
    margin: 0 auto;
    width: 600px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #98A09C;
    -webkit-box-shadow: 2px 2px 2px 2px #98A09C;
    -moz-box-shadow: 2px 2px 2px 2px #98A09C;
    padding: 20px;
    background: #78909C -webkit-gradient(linear, 0% 0%, 0% 100%, from(#78909C), to(#51545B));
}

#title {
    margin: 30px 100px;
}

article#main {
    margin: 0 30px;
}

/* new step*/

#new {
    margin-top: 10px;
}

#new #desc {
    width: 225px;
}

#new #locality {
    width: 253px;
}

#currentPosition {
    float: right;
}

#currentPosition address {
    display: inline;
    color: #FBE762;
}

#map #map_canvas {
    position: relative;
    left: 9px;
    top: 20px;
    width: 520px;
    height: 300px;
}

#map {
    margin-top: 15px;
}

#importer {
    margin-top: 40px;
}

#importer header, #map header {
    color: #BED364;
}

#importer header {
    margin-bottom: 5px;
}

#importer header:hover, #map header:hover {
    cursor: pointer;
    color: #FBE762;
    text-decoration: underline;
}

#importer #import {
    border: 10px dashed gray;
    width: 300px;
    height: 100px;
    color: gray;
    display: none;
}

#importer #import:hover, #importer #import.hover {
    color: white;
    -webkit-transition: color 0.2s linear;
    border: 10px dashed white;
}

#importer #import p {
    margin: 40px 0 0 50px;
}

/* Steps */

#footprints header > * {
    float: left;
}

#footprints header h3 {
    margin-right: 160px;
    text-shadow: black 1px 1px 0px;
}

#footprints header #sortOptionCaption {
    margin-right: 10px;
}

#footprints header #sortOptions a {
    -webkit-transition: color 0.2s linear;
    color: darkGray;
    font-weight: bold;
    text-decoration: none;
}

#footprints header #sortOptions a:hover, #footprints header #sortOptions a.selected {
    color: #FBE762;   
}

#footprints #totalDesc {
    float: right;
}

#footprints table {
    clear: both;    
}

#footprints tr {
    background: rgba(74, 30, 70, 0.0898438);
    -webkit-transition: opacity 0.4s ease-in;
    font-weight: bold;
    line-height: 1.5em;
}

#footprints tr:hover {
    background: rgba(190, 211, 100, 0.1);
}

#footprints td.task {
    cursor: pointer;
    color: #FBE762;
    width: 230px;
}

#footprints td.task:hover {
    color: rgba(0, 0, 0, 0.296875);
    -webkit-transition: color 0.2s linear;
    text-decoration: line-through;
}

#footprints td.task input {
    display: none;
    width: 220px;
}

#footprints td.locality {
    width: 270px;
}

#footprints td.locality address a, #footprints td.showLocality {
    cursor: pointer;
    color: #BED364;
}

#footprints td.locality address a {
    margin-left: 2px;
    text-decoration: none;
}

#footprints td.showLocality:hover, #footprints td.locality address a:hover {
    color: #FBE762;
    -webkit-transition: color 0.2s linear;
    text-decoration: underline;    
}

#footprints td.locality address.hl, #footprints td.locality address.hl a {
    color: #FBE762;
}

#footprints tr.done td.task, #footprints tr.done td.showLocality, #footprints tr.done td.locality address a {
    color: rgba(0, 0, 0, 0.296875);
    text-decoration: line-through;
}

/* Buttons */

#footprints tr td.buttons {
    margin-left: 20px;
}

#footprints tr td.buttons span.button {
    background: gray;
    color: white;
    cursor: pointer;
}

#footprints tr td.buttons span.button:hover {
    color: red;
    -webkit-transition: color 0.2s linear;
}

/* Others */

footer {
    color: #ccc;
    margin-top: 10px;
    border-top: 1px dashed #ccc;
}

#notification {
    margin-top: 10px;
    border-top: 1px dashed #ccc;
    clear: both;
}

.warning {
    color: red;
}