body {
    font-family: "Lucida Grande", Verdana;
}

header.horizontal > * {
    float: left;
}

article#bapi {
    margin: 0 auto;
    width: 600px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #999;
    -webkit-box-shadow: 2px 2px 2px 2px #ddd;
    -moz-box-shadow: 2px 2px 2px 2px #ddd;
    padding: 20px;
}

article#bapi #notification {
    margin-top: 10px;
    border-top: 1px dashed #ccc;
    clear: both;
}

.warning {
    color: red;
}

footer {
    color: #ccc;
    margin-top: 10px;
    border-top: 1px dashed #ccc;
}
